[build]
  command = "npm install"
  publish = "public"

[functions]
  external_node_modules = ["axios", "dotenv", "express", "serverless-http"]
  node_bundler = "esbuild"

# Redirect API calls to the serverless function
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/auth/*"
  to = "/.netlify/functions/api/auth/:splat"
  status = 200

# Redirect everything else to index.html for SPA (Client-side routing)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
